@charset "UTF-8";

.btn_room {
	display: inline-block;
	margin-left: 39%;
	margin-bottom: 30px;
	color: black;
	background: none;
}

.btn_like {
		display: inline-block;
		margin-bottom: 30px;
		color: black;
		background: none;
}

.btn_room:hover, .btn_like:hover {
	background-color: #f85959;
	color: white;
}

.pri-page {
	background-color: #f85959;
	color: white;
}

.notpri-page {
	color: black;
	font-weight: normal;
}

button.text-zzim {
	background: white;
	border: none;
}

button.text-zzim:focus{ 	
    border: none;
    outline:none;
    }
    
.zzim-showtext:before {
	content:"찜한 매물";
	color: #f85959;
	font-weight: bold;
	    margin-right: 50px;
}

.zzim:before {
	content:url("../images/fillHeart.png");
}

.zzim:hover:before {
	content:"취소";
   cursor: pointer;
   color: gray;	
   font-weight: normal;
}

.nozzim:before {
	content:url("../images/heart.png");
}

.nozzim:hover:before {
content:url("../images/fillHeart.png");
   cursor: pointer;
}

.zzimCount{
	content:url("../images/fillHeart.png");
}

.sidebar-wrap .fields .select-wrap2 {
    position: relative;
}

.roomlist {
	display: inline-block;
	width: 240px;
	margin-left: 30px;
	margin-bottom: 35px;
	box-sizing: border-box;
}

.text-mi {
	height: 100px;
	
}

.col-lg-roomlist {
-webkit-box-flex: 0;
-ms-flex: 0 0 75%;
flex: 0 0 75%;
max-width: 75%;
}
    
  .row-list {
 display: flex;
 margin-right: -15px;
 margin-left: -15px;
flex-wrap: wrap;
}

.block-27-page ul {
  padding: 0;
  margin: 0; }
  
  .block-27-page ul li {
display: inline-block;
margin-bottom: 4px;
font-weight: 400; }
    
.block-27-page ul li a, .block-27-page ul li span {
color: #f85959;
text-align: center;
display: inline-block;
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
border: 1px solid #fdd3d3; }
      
 .block-27-page ul li.active a, .block-27-page ul li.active span {
background: #fdd3d3;
color: #f85959;
border: 1px solid transparent; }
     


.filter-reset{
	background: none;
	font-size:0.9em;
	border: none;
}

.filter-reset:hover {
	color: #f85959;
	cursor: pointer;
}

.filter-search-submit {
	background-color: gray;
	color: white;
}

.filter-search-submit:hover {
	background-color: black;
}



.modal{
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.8);
opacity: 45%;
}

.modal_content{
  width:400px; height:200px;
  background:snow; border-radius:10px;
  border: 1px solid gray;
  position:relative; top:50%; left:50%;
  margin-top:-100px; margin-left:-200px;
  text-align:center;
  box-sizing:border-box; padding:74px 0;
  line-height:23px; cursor:pointer;
}

.label-class {
  display: block;
}

.cktag {
	display: none;
}

input:checked + label span {
 background: #f85959;
 color: white;
}

.op-css {
	background: white;
}

.op-css:hover {
 background: #f85959;
 color: white;
}

.nologin-zzim {
	margin-left: 35%;
	margin-top: 10%;
}

span.call {
    padding: 2px 10px;
    border-radius: 80px;
    border: 1px solid #eee;
}

.p-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
