@charset "UTF-8";


     
.te {
	background-color: white;
	display: inline-block;
}

.te:hover {
	color: #f85959;
}

.btn_room {
	display: inline-block;
/* 	margin-left: 9%; */
	margin-bottom: 30px;
	color: black;
	background-color: snow;
}

.btn_like {
		display: inline-block;
		margin-bottom: 30px;
		color: black;
		background-color: snow;
}

.btn_room:hover, .btn_like:hover {
	background-color: #f85959;
	color: white;
}

.pri-page {
	background-color: #f85959;
	color: white;
}

.notpri-page {
	color: black;
	font-weight: normal;
}

.zzim:before {
	content:"💓 찜한 매물";
	color: #f85959;
	font-weight: bold;
}

.zzim:hover:before {
	content:"🤍 찜하기 취소";
   cursor: pointer;
   color: black;	
   font-weight: normal;
}


.nozzim:before {
	content:"🤍 찜하기";
}

.nozzim:hover:before {
	content:"💓 찜하기";
   cursor: pointer;
   color: #f85959;	
	font-weight: bold;
}

.sidebar-wrap .fields .select-wrap2 {
    position: relative;
    margin-right: 10px;
}