<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.BoardMapper">


	

	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(room_id) from
		one_room
	</select>
	
	<resultMap id="OneRoomBean" type="com.itwillbs.domain.OneRoomBean">		
		<result property="include_options" column="include_options" typeHandler="com.itwillbs.mapper.type.JSONTypeHandler" />
		<result property="include_fees" column="include_fees" typeHandler="com.itwillbs.mapper.type.JSONTypeHandler" />
	</resultMap>

	<insert id="insertRoom" useGeneratedKeys="true"
		keyProperty="room_id">
		INSERT INTO `one_room`
		(`address`, `deposit`,
		`monthly_rent`, `room_type`, `fees`,
		`include_fees`,
		`exclusive_area_m`, `exclusive_area_p`, `contract_area_m`,
		`contract_area_p`,
		`floor`, `living_floor`, `direction`, `include_options`,
		`loan`, `pet`, `parking`,
		`elevator`, `m_date`, `subject`,
		`content`,
		`phone_number`, `seller_id`) VALUES (
		#{address}, #{deposit},
		#{monthly_rent}, #{room_type}, #{fees},
		#{include_fees,typeHandler=com.itwillbs.mapper.type.JSONTypeHandler},
		#{exclusive_area_m}, #{exclusive_area_p}, #{contract_area_m},
		#{contract_area_p},
		#{floor}, #{living_floor}, #{direction},
		#{include_options,typeHandler=com.itwillbs.mapper.type.JSONTypeHandler},
		#{loan},
		#{pet},
		#{parking}, #{elevator}, #{m_date}, #{subject},
		#{content},
		#{phone_number}, #{seller_id})
	</insert>

	<insert id="insertRoomImg">
		INSERT INTO `one_room_pic` (`id`, `room_id`,
		`file_name`) VALUES (#{id},
		#{room_id}, #{file_name})
	</insert>

	<insert id="insertRoomImages" parameterType="java.util.List">
		INSERT INTO
		one_room_pic
		(room_id, file_name)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.room_id}, #{item.file_name})
		</foreach>
	</insert>

	<select id="getBoardList"
		resultType="com.itwillbs.domain.OneRoomBean">
		select * from one_room order by room_id desc limit
		#{startRow},#{pageSize}
	</select>

	<select id="getSearchList"
		resultType="com.itwillbs.domain.OneRoomBean">
		select *
		from one_room
		<![CDATA[ 
		where 
        (subject like #{search} || content like #{search} || address like #{search})
		and (room_type REGEXP #{room_type})
		and (living_floor REGEXP #{living_floor})
		 and (deposit >= #{deposit_min} and deposit <= #{deposit_max})
        and (monthly_rent >= #{monthly_rent_min} and monthly_rent <= #{monthly_rent_max})
       ]]>

	</select>

	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*) from
		one_room
	</select>

	<select id="getWishCount" resultType="java.lang.Integer">
		select count(*) from
		wish_list where id=#{id}
	</select>


	<select id="getBoard"
		resultType="com.itwillbs.domain.OneRoomBean">
		select * from one_room where
		room_id=#{room_id}
	</select>

	<select id="numCheck"
		resultType="com.itwillbs.domain.OneRoomBean">
		select * from one_room where
		room_id=#{room_id} and
		pass=#{pass}
	</select>

	<update id="updateBoard">
		update one_room set name=#{name}, subject=#{subject},
		content=#{content}
		where room_id=#{room_id}
	</update>

	<delete id="deleteBoard">
		delete from one_room where room_id=#{room_id}
	</delete>
	
	
<!-- 		<resultMap type="com.itwillbs.domain.OneRoomBean" id="TwoRoomBean"> -->
<!-- 		<id property="room_id" column="room_id"></id> -->
<!-- 		<id property="fileList" column="fileList"></id> -->
<!-- 		<id property="deposit" column="deposit"></id> -->
<!-- 		<id property="monthly_rent" column="monthly_rent"></id> -->
<!-- 		<id property="room_type" column="room_type"></id> -->
<!-- 		<id property="fees" column="fees"></id> -->
<!-- 		<id property="include_fees" column="include_fees" typeHandler="com.itwillbs.mapper.type.JSONTypeHandler"></id> -->
<!-- 		<id property="include_fees_array" column="include_fees_array"></id> -->
<!-- 		<id property="exclusive_area_m" column="exclusive_area_m"></id> -->
<!-- 		<id property="exclusive_area_p" column="exclusive_area_p"></id> -->
<!-- 		<id property="contract_area_m" column="contract_area_m"></id> -->
<!-- 		<id property="contract_area_p" column="contract_area_p"></id> -->
<!-- 		<id property="floor" column="floor"></id> -->
<!-- 		<id property="living_floor" column="living_floor"></id> -->
<!-- 		<id property="direction" column="direction"></id> -->
<!-- 		<id property="include_options" column="include_options" typeHandler="com.itwillbs.mapper.type.JSONTypeHandler"></id> -->
<!-- 		<id property="loan" column="loan"></id> -->
<!-- 		<id property="pet" column="pet"></id> -->
<!-- 		<id property="parking" column="parking"></id> -->
<!-- 		<id property="elevator" column="elevator"></id> -->
<!-- 		<id property="m_date" column="m_date"></id> -->
<!-- 		<id property="subject" column="subject"></id> -->
<!-- 		<id property="content" column="content"></id> -->
<!-- 		<id property="phone_number" column="phone_number"></id> -->
<!-- 		<id property="selling_id" column="selling_id"></id> -->
<!-- 		<id property="is_selling" column="is_selling"></id> -->
<!-- 		<id property="monthly_rent_min" column="monthly_rent_min"></id> -->
<!-- 		<id property="monthly_rent_max" column="monthly_rent_max"></id> -->
<!-- 		<id property="deposit_min" column="deposit_min"></id> -->
<!-- 		<id property="deposit_max" column="deposit_max"></id> -->

<!-- 	</resultMap> -->
	
<!-- 	<resultMap type="com.itwillbs.domain.ImageBean" id="ImageBean"> -->
<!-- 		<id property="id" column="id"></id> -->
<!-- 		<id property="room_id" column="room_id"></id> -->
<!-- 		<id property="file_name" column="file_name"></id> -->
	
<!-- 	</resultMap> -->


	<select id="getRoom" resultMap="OneRoomBean">
		select * from one_room
		where room_id=#{room_id}
	</select>
	


</mapper>





