<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.BoardMapper">

	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(room_id) from one_room
	</select>

	<insert id="insertRoom">
	INSERT INTO `one_room` (`include_fees`, `options`, `seller_id`) 
		VALUES (#{include_fees, typeHandler=com.itwillbs.mapper.type.JSONTypeHandler},
		#{options, typeHandler=com.itwillbs.mapper.type.JSONTypeHandler},
		#{seller_id})
	</insert>

	<select id="getBoardList"
		resultType="com.itwillbs.domain.OneRoomBean">
		select * from one_room order by room_id desc limit
		#{startRow},#{pageSize}
	</select>
	
	<select id="getSearchList"
		resultType="com.itwillbs.domain.OneRoomBean">
 		select room_type, living_floor, deposit, monthly_rent, subject, content, address
		from one_room
		<![CDATA[ 
		where 
        (subject like #{search} || content like #{search} || address like #{search})
		and (room_type=#{room_type})
		and (living_floor like #{living_floor})
        and (deposit >= #{deposit_min} and deposit <= #{deposit_max})
        and (monthly_rent >= #{monthly_rent_min} and monthly_rent <= #{monthly_rent_max})
       ]]>
        
	</select>

	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*) from
		one_room
	</select>
	
	<select id="getWishCount" resultType="java.lang.Integer">
	select count(*) from wish_list where id=#{id}
	</select>
	

	<select id="getBoard" resultType="com.itwillbs.domain.OneRoomBean">
		select * from one_room where
		room_id=#{room_id}
	</select>

	<select id="numCheck" resultType="com.itwillbs.domain.OneRoomBean">
		select * from one_room where
		room_id=#{room_id} and pass=#{pass}
	</select>

	<update id="updateBoard">
		update one_room set name=#{name}, subject=#{subject},
		content=#{content}
		where room_id=#{room_id}
	</update>

	<delete id="deleteBoard">
		delete from one_room where room_id=#{room_id}
	</delete>

</mapper>






