<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.MemberMapper">

	<insert id="insertMember">
		insert into member_seller (id, password,
		phone_number, is_confirm)
		values(#{id},#{password},#{phone_number},#{is_confirm})
	</insert>

	<insert id="insertMember2">
		insert into member_normal (id, password,
		phone_number)
		values(#{id},#{password},#{phone_number})
	</insert>

	<select id="userCheck"
		resultType="com.itwillbs.domain.MemberBean">
		select * from member_normal where id=#{id} and password=#{password}
	</select>
	
	<select id="userCheck2"
		resultType="com.itwillbs.domain.MemberBean">
		select * from member_seller where id=#{id} and password=#{password}
	</select>

	<select id="getMember"
		resultType="com.itwillbs.domain.MemberBean">
		select * from member_normal where id=#{id}
	</select>

	<select id="getMember2"
		resultType="com.itwillbs.domain.MemberBean">
		select * from member_seller where id=#{id}
	</select>

	<update id="updateMember2">
		update member_seller set id=#{id}, password=#{password}, phone_number=#{phone_number} where id=#{id}
	</update>
	
	<update id="updateMember">
		update member_normal set id=#{id}, password=#{password}, phone_number=#{phone_number} where id=#{id}
	</update>

	<update id="updateMember_normal">
		update member_normal set id=#{id}, password=#{password}, phone_number=#{phone_number} where id=#{id}
	</update>

	<delete id="deleteMember">
		delete from member_normal where id=#{id}
	</delete>
	
	<delete id="deleteMember2">
		delete from member_seller where id=#{id}
	</delete>

	<select id="getMemberList"
		resultType="com.itwillbs.domain.MemberBean">
		select * from member_seller
	</select>

	<select id="getWish" resultType="com.itwillbs.domain.MemberBean">
		select * from wish_list where
		id=#{id} and wish=#{wish};
	</select>

	<insert id="insertWish">
		insert into wish_list(id,wish) values(#{id},#{wish})
	</insert>

	<delete id="deleteWish">
		delete from wish_list where wish=#{wish} and id=#{id}
	</delete>

	<select id="getMemberWishList"
		resultType="com.itwillbs.domain.MemberBean">
		select * from wish_list where id=#{id}
	</select>
	
	<select id="getMemberNList" resultType="com.itwillbs.domain.MemberBean">
	 select * from member_seller  where is_confirm != 'Y'
	 </select>

	<update id="yUpdate">
		update member_seller set is_confirm='Y' where id=#{id}
	</update>
	
	
	<select id="getReportList" resultType="com.itwillbs.domain.ReportBean">
	 select * from report
	 </select>
	 
	 
	 <select id="userCheckadmin"
		resultType="com.itwillbs.domain.MemberBean">
		select * from member_admin where id=#{id} and password=#{password}
	</select>


</mapper>






